.fnac {
  dialog[open] {
    background-color: #000000e5;
  }

  #left-arrow, #right-arrow {
    color: white;
  }
}

#author-message p {
  color: #2f4f4f;
  font-weight: 600;
  text-align: center;
}

.moments {
  margin-bottom: 32px;
}

.reporter {
  display: flex;
  align-items: stretch;
  gap: 20px;
  background-color: #f0f7f1a8;
  border-radius: 8px;
  flex-wrap: wrap;

  .reporter-img {
    flex: 0 0 34%;
  }
  .reporter-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: cover;
  }

  .reporter-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

hr {
  color: #8080801c;
}

.gallery-buttons {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 70px;
}

.gallery-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #264653;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.gallery-buttons button:hover {
  background-color: #2a9d8f;
}


@media (min-width: 1024px) {
  .event-fnac {
    #evento-fotos {
      grid-template-columns: repeat(4, 1fr);
      margin: 70px 0 38px;

      .grid-item {
        height: 200px;
      }
    }
  }
  .moments {
    margin: 34px 0 32px;
  }

  .reporter {
    width: 68%;
    margin: auto;

    .reporter-img {
      flex: 0 0 38%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
