#igr-content {
  padding: 0;
  width: 100%;
  max-width: 800px;
  top: 80px;
}
/* revuew this after one day */

#igr-content-banner{
  background: white;
  margin: 2% auto;
  color: white;

  .close-btn {
    color: white;
    top: 0.8rem;
  }

  .feira-poster {
    width: 100%;
  }

  .infos {
    margin-bottom: 24px;
    text-align: center;

    h2 span {
      /* color: #ff001a; */
      color: #d19f43;
    }

    .double-quotes {
      color: white;
    }
  }

  .book_presentation {
    text-align: left;
    gap: 16px;

    & .book_cover img {
      width: 124px;
    }

    .stand {
      font-size: 14px;

      .color {
        color: #d5a95a;
      }
    }
  }

  .links-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;

    .btn {
      color: rgb(16, 16, 16);
      font-size: 16px;
      padding: 6px 16px;
      background-color: #d19f43;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }
    .btn:hover {
      background-color: #e5af53;
    }
  }

  #thanks {
    color: #4A2A23;
  }
}
/* #d5a95a */
/* #dac49e */


@media (min-width: 1024px) {
  #igr-content-banner{
    margin: auto;
    border-radius: 8px;
    border: 1px solid red;

    .feira-poster {
      border-radius: 8px 8px 0 0;
    }

    .infos {
      margin-bottom: 24px;
      padding: 0 50px;

      h2 {
        font-size: 40px;
        margin: 14px;
      }

      p {
        font-size: 18px;
      }
    }

    .book_presentation {
      width: 70%;
      margin: auto;

      & .book_cover img {
        width: 130px;
      }

      .stand {
        font-size: 16px;

        .color {
          color: #d5a95a;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #igr-content-banner{
    margin: auto;
    border-radius: 8px;
    border: 1px solid red;

    .feira-poster {
      border-radius: 8px 8px 0 0;
    }

    .infos {
      h2 {
        font-size: 30px;
      }
    }

    .book_presentation {
      width: 78%;
      margin: auto;
    }
  }
}
