.modal {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  overflow: hidden;
  background: #F5EEE8;
  margin: 1% auto;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 580px;
  text-align: center;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300' viewBox='0 0 300 300'%3E%3Cpath d='M150,10 C200,50 250,100 290,150 C250,200 200,250 150,290 C100,250 50,200 10,150 C50,100 100,50 150,10 Z' fill='none' stroke='%23a67c52' stroke-width='1' opacity='0.2'/%3E%3Cpath d='M150,30 C190,60 230,100 270,150 C230,200 190,240 150,270 C110,240 70,200 30,150 C70,100 110,60 150,30 Z' fill='none' stroke='%23a67c52' stroke-width='1' opacity='0.2'/%3E%3Cpath d='M150,50 C180,70 210,100 250,150 C210,200 180,230 150,250 C120,230 90,200 50,150 C90,100 120,70 150,50 Z' fill='none' stroke='%23a67c52' stroke-width='1' opacity='0.2'/%3E%3C/svg%3E");
  background: linear-gradient(to bottom, #e7cae5, #af8f8f);
}
.close-btn {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
}

/* LEAF */
.leaf {
  position: absolute;
  width: 198px;
  opacity: 0.20;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.leaf-top-left {
  top: 0px;
  left: -100px;
  transform: rotate(0deg);
}

.leaf-bottom-right {
  bottom: 10px;
  right: -100px;
  transform: rotate(0deg);
}

/* CONTENT */
.modal_title {
  color: #914D21;
  margin-top: 0;
}
.title_span {
  border-bottom: 2px solid #914D21;
  padding-bottom: 4px;
}

.book_presentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8px;
  position: relative;

  .book_cover img {
    width: 188px;
  }

  .flower-left, .flower-right {
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
    user-select: none;
  }

  .flower-left {
    top: 32%;
    left: 20%;
    transform: translateY(-50%);
  }

  .flower-right {
    top: 10%;
    right: 20%;
    transform: scaleX(-1);
  }
}
.presenter-name {
  font-size: 20px;
  margin-bottom: 10px;
}
.presenter-title {
  color: #8B4513;
}

.color_dark_brown {
  /* color: #4D4036; */
  color: #4D4036DB;
  font-weight: bold;
}

.playwrite-hu-booktitle {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.content {
  margin-bottom: 16px;

  .presenter {
    padding: 16px;
  }

  .date {
    color: #C86E28;
    font-size: 20px;
  }

  .convite {
    font-size: 24px;
  }

  .book_name {
    font-size: 28px;
    color: #8B4513;
    font-weight: 700;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
  }
  .book_name::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background: url('./images/assets/hibiscus_flower.png') no-repeat center center;
    background-size: contain;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
  }
  .book_name span   {
    color: #4D4036DB;
  }

  .place {
    font-weight: bold;
  }
  .place span {
    font-size: 20px;
  }
}
.dark_gray {
  color: #4A4A4A;
}

.line {
  border-bottom: 1px solid #C78A64;
  width: 84%;
  margin: auto;
}

.sponsor {
  margin-top: 18px;

  .sponsors_names {
    font-size: 14px;
  }
}
.medium_light_gray {
  color: #888888;
}

.support {
  margin: 18px 0;

  p {
    margin-bottom: 8px;
  }
}
.support_container {
  display: flex;
  justify-content: center;
  gap: 16px;

  .round {
    font-size: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
}

#open-modal {
  background-color: white;
  border: 1px solid #005a9c;
  border-radius: 4px;
  color: #005a9c;
  padding: 6px 8px 4px;
  cursor: pointer;
  font-size: 16px;
}
#open-modal:hover {
  background-color: #005a9c;
  color: white;
}

#thanks {
  font-weight: normal;
  margin: 0;
}

@media (max-width: 600px) {
  .modal-content {
    width: 80%;
    padding: 1.4rem 2rem;
  }

  .leaf {
    width: 48vw;
    max-width: 216px;
    height: auto;
    opacity: 0.20;
    z-index: 0;
    pointer-events: none;
  }

  .leaf-top-left {
    top: 0px;
    left: -25vw;
    transform: rotate(0deg);
  }

  .leaf-bottom-right {
    bottom: 10px;
    right: -28vw;
    transform: rotate(0deg);
  }

  .book_presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    text-align: center;
    gap: 0;

    .book_cover img {
      width: 100px;
    }

    .flower-left,
    .flower-right {
      width: 90px;
      height: 90px;
    }

    .flower-left {
      left: 18%;
    }

    .flower-right {
      right: 22%;
    }

    .presenter-name {
      font-size: 16px;
    }
    .presenter-title {
      font-size: 14px;
    }
  }

  .content {
    .convite {
      font-size: 20px;
    }

    .book_name {
      font-size: 24px;
      margin-bottom: 0;
    }
    .book_name::before {
      width: 120px;
      height: 120px;
    }
  }
}
