body {
  background-color: #eaf2ea;
  width: 100%;
  margin: auto;
}

header {
  margin-top: 20px;
}

header nav {
  margin-left: 8px;
  margin-top: 12px;
}

header h1 {
  color: red;
}

header .book-cover {
  display: block;
  margin: auto;
  width: 200px;
}

header .banner {
  margin-bottom: 50px;
}

header .banner-title {
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  border: 0px;
  background-color: #b5d3eb;
  padding: 14px 18px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.btn:hover {
  color: #ffffff;
}

.btn-desktop {
  display: none;
}

.btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  text-decoration: none;
}

main {
  padding: 20px 16px;
  background-color: #e6efe6;
}

main h2 {
  font-weight: 100;
}

main .description-cover {
  display: none;
}

main .paragraph-title {
  margin-bottom: 0;
}

main .book-paragraph {
  margin-top: 8px;
}

main .book {
  margin: 24px 0;
}

main .book .mobile-hide {
  display: none;
}

main .author-image {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 20px;
}

main .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px 0 32px;
  text-align: center;
}

main .card {
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  width: 110px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 24px;
  background-color: #f2f2f2;
}

main .card-content {
  padding: 0 0 16px;
}

main .card-content h3,
main .card-content p {
  margin: 0;
  padding-left: 0;
}

main .card-title {
  font-size: 18px;
  color: #86bfed;
}

main .card-price {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

main .infos {
  padding: 24px 0;
}

.launch-editor {
  display: flex;
  margin: 40px 0;
  padding: 0;
  border-radius: 10px;
}

.launch-editor a {
  text-decoration: none;
}

.launch-editor .launch,
.launch-editor .editor {
  flex: 1;
  margin: 0 12px;
  text-align: center;
  padding: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 6px 12px 6px rgba(0, 0, 0, 0.1);
}

.launch-editor .editor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.launch-editor h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.launch-editor p {
  font-size: 18px;
  color: #666;
}

.launch-editor .launch:hover,
.launch-editor .editor:hover,
.launch-editor .launch:active,
.launch-editor .editor:active {
  background-color: #f0f0f0;
}

.launch-editor .launch:hover h2,
.launch-editor .launch:hover p,
.launch-editor .editor:hover h2,
.launch-editor .editor:hover p,
.launch-editor .launch:active h2,
.launch-editor .launch:active p,
.launch-editor .editor:active h2,
.launch-editor .editor:active p {
  color: #444;
}

.logo {
  width: 50px;
}

footer {
  position: absolute;
  width: 100%;
  right: 0;
  background-color: #b5d3eb;
}

footer .socials {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  body {
    width: 900px;
  }

  header {
    margin-top: 20px;
  }

  header nav {
    margin-left: 0px;
  }

  header h1 {
    font-size: 80px;
    margin-bottom: 0;
  }

  header h2 {
    font-size: 60px;
    margin-top: 8px;
  }

  header .book-cover {
    margin: 0;
    width: 244px;
  }

  header .banner {
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    padding: 36px 0 32px;
  }

  header .banner-title {
    text-align: left;
  }

  .btn {
    padding: 14px 26px;
    font-size: 26px;
  }

  .btn-mobile {
    display: none;
  }

  .btn-desktop {
    display: block;
  }

  main section {
    margin: 80px 0;
  }

  main h2 {
    font-size: 32px;
    font-weight: 100;
  }

  main p {
    line-height: 1.5;
  }

  main .book h2 {
    text-align: center;
  }

  main .book .mobile-hide {
    display: block;
  }

  main .book-description {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  main .description-cover {
    display: block;
    width: 320px;
    height: 500px;
  }

  main .paragraph-title {
    margin-bottom: 0;
  }

  main .book-paragraph {
    margin-top: 12px;
  }

  main .author {
    display: flex;
    gap: 70px;
  }

  main .author-image {
    width: 260px;
    border-radius: 24px;
  }

  main .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0 66px;
  }

  main .card {
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    width: 26%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 36px;
    background-color: #f2f2f2;
  }

  main .card-content {
    padding: 0 0 16px;
  }

  main .card-content h3,
  main .card-content p {
    margin: 0;
    padding-left: 0;
  }

  main .card-title {
    font-size: 24px;
    color: #86bfed;
  }

  main .card-price {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  main .infos {
    padding: 24px 0;
  }

  .launch-editor {
    justify-content: space-around;
    margin: 40px 0;
    padding: 20px;
  }

  .launch-editor .launch,
  .launch-editor .editor {
    margin: 0 20px;
    padding: 20px;
  }

  footer .socials {
    padding: 24px 0px;
    justify-content: space-around;
  }

  footer .socials a {
    font-size: 20px;
  }

  .logo {
    width: 100px;
  }
}
