/* cor size */
body {
  background-color: #eaf2ea;
}

header {
  h1 {
    color: red;
  }
  .book-cover {
    display: block;
    margin: auto;
    width: 200px;
  }
  .banner-title {
    text-align: center;
  }
}

main {
  .description-cover {
    display: none;
  }

  .book {
    background-color: #bcc2bc;
    margin: 24px 0;
  }

  .author-image {
    display: block;
    margin: auto;
    width: 200px;
  }
}

@media (min-width: 768px) {
  body {
    width: 768px;
    margin: auto;
  }

  header {
    margin-top: 20px;
    h1 {
      font-size: 80px;
      margin-bottom: 0;
    }
    h2 {
      font-size: 60px;
      margin-top: 8px;
      font-weight: 100;
    }
    .book-cover {
      margin: 0;
      width: 216px;
    }
    .banner {
      margin: auto 0;
      display: flex;
      justify-content: space-between;
      padding: 32px 0;
    }
    .banner-title {
      text-align: left;
    }
  }

  main {
    section,
    .author {
      margin: 32px 0;
    }
    h2 {
      font-size: 32px;
      font-weight: 100;
    }
    p {
      line-height: 1.5;
    }
    .book {
      h2 {
        text-align: center;
      }
    }
    .book-description {
      display: flex;
      gap: 70px;
    }
    .description-cover {
      display: block;
      width: 240px;
    }
    .paragraph-title {
      margin-bottom: 0;
    }
    .book-paragraph {
      margin-top: 12px;
    }

    .author {
      display: flex;
      gap: 70px;
    }
    .author-image {
      width: 260px;
      border-radius: 24px;
    }
  }
}
